.forecast-box {
	width: 30%;
	padding: 15px 15px 15px 30px;
	margin-top: 50px;
	margin-right: 60px;
	text-align: center;
	font-style: normal;
	line-height: normal;
	font-weight: 600;
	border-radius: 30px;
	background-color: #444444;
	box-shadow: 12px 13px 8px 0px rgba(34, 60, 80, 0.2);

	&__title {
		font-size: 32px;
		font-weight: 700;
	}

	&__line {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__temp {
		font-size: 24px;
		font-weight: 600;
	}

	&__text {
		margin-bottom: 0;
		font-size: 20px;
	}

	&__icon {
		width: 80px;
		height: 80px;
		background-image: url('../../../images/src/clouds-icon.png');
		background-repeat: no-repeat;
		background-position: center;
	}
}
