.header {
	display: flex;
	align-items: center;

	&__mode-box {
		margin-right: 80px;
	}
	&__mode-text {
		font-size: 18px;
		font-style: normal;
		font-weight: 800;
	}

	&__mode-toggler {
		display: flex;
		align-items: center;
		padding: 5px 13px;
		justify-content: end;
		width: 100px;
		height: 38px;
		border-radius: 40px;
		background: #d9d9d9;
		cursor: pointer;
	}

	&__toggler {
		width: 30px;
		height: 30px;
		background-color: #111;
		border-radius: 50%;
	}

	&__form {
		display: flex;
		align-items: center;
		width: 803px;
		padding: 8px 30px;
		margin-right: 80px;
		border-radius: 40px;
		background: #444;
		box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
	}

	&__form-search {
		width: 45px;
		height: 45px;
		margin-right: 30px;
		background: url('../../../images/src/search-icon.png') no-repeat;
	}

	&__input {
		width: 100%;
		height: 30px;
		background: transparent;
		border: none;

		&::placeholder {
			color: #fff;
			opacity: 0.6;
		}
	}

	&__location {
		display: flex;
		align-items: center;
		width: 292px;
		height: 62px;
		padding: 25px 15px;
		border-radius: 40px;
		background: #e8a11bf0;
		box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}

	&__location-icon {
		width: 35px;
		height: 35px;
		background: url('../../../images/src/location-icon.png') no-repeat;
		margin-right: 10px;
	}
}
