@import 'util.scss';

.hourly-box {
	@include box-style;
	width: 64%;
	margin-top: 50px;
	padding: 15px 80px;
	font-style: normal;
	font-weight: 700;
	text-align: center;

	&__title {
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 70px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		margin-right: 15px;
		padding: 13px 25px 18px;
		border-radius: 40px;
		background: #373636;
	}

	&__time,
	&__temp {
		font-size: 24px;
	}

	&__wind {
		display: block;
		margin-top: 10px;
		font-size: 20px;
	}

	&__icon {
		width: 80px;
		height: 80px;
		background: url('../../../images/src/rain-icon.png') no-repeat center;
	}

	&__arrow-icon {
		width: 55px;
		height: 90px;
		margin: 15px auto;
		background: url('../../../images/src/nav-wind-icon.png') no-repeat bottom;
	}
}

@media (max-width: 1400px) {
	.hourly-box {
		width: 50%;
		padding: 15px 10px;

		&__column {
			padding: 13px 15px 18px;
		}

		&__row {
			flex-direction: column;
		}

		&__arrow-icon {
			margin: 0;
		}

		&__column {
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-right: 0;
			margin-bottom: 10px;
		}

		&__title {
			margin-top: 15px;
			margin-bottom: 30px;
		}
	}
}
