.time-box {
	width: 40%;
	padding: 50px 90px;
	text-align: center;
	font-style: normal;
	border-radius: 30px;
	background: #444;
	box-shadow: 12px 13px 8px 0px rgba(34, 60, 80, 0.2);

	&__city-name {
		margin-bottom: 30px;
		font-size: 36px;
		font-weight: 700;
	}

	&__time {
		display: block;
		margin-bottom: 20px;
		font-size: 92px;
		font-weight: 700;
	}

	&__day {
		font-size: 20px;
		font-weight: 400;
	}
}
